<launch>

  <arg name="map_frame_id" default="map"/>
  <arg name="map_size_x" default="40"/>
  <arg name="map_size_y" default="40"/>
  <arg name="map_size_z" default="5"/>
  <arg name="initial_position/x" default="0.0"/>
  <arg name="initial_position/y" default="0.0"/>
  <arg name="initial_position/z" default="0.0"/> 

  <arg name="c_num" default="10.0"/>
  <arg name="p_num" default="200.0"/>
  <arg name="odom_topic" default="/quadrotor/odom"/>


  <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">    
    
    <remap from="~odometry"   to="$(arg odom_topic)"/>    
    <param name="init_state_x"   value="$(arg initial_position/x)"/>
    <param name="init_state_y"   value="$(arg initial_position/y)"/>
    <param name="map/x_size"     value="$(arg map_size_x)" />
    <param name="map/y_size"     value="$(arg map_size_y)" />
    <param name="map/z_size"     value="$(arg map_size_z)" />
    <param name="map/resolution" value="0.1"/>        
    <param name="map/frame_id"     value="$(arg map_frame_id)" />

    <param name="ObstacleShape/seed" value="-1"/>
    <param name="map/obs_num"    value="$(arg p_num)"/>
    <param name="ObstacleShape/lower_rad" value="0.5"/>
    <param name="ObstacleShape/upper_rad" value="0.7"/>
    <param name="ObstacleShape/lower_hei" value="0.0"/>
    <param name="ObstacleShape/upper_hei" value="3.0"/>        
    <param name="ObstacleShape/set_cylinder" value="true"/>     

    <param name="map/circle_num" value="$(arg c_num)"/>        
    <param name="ObstacleShape/radius_l" value="0.7"/>        
    <param name="ObstacleShape/radius_h" value="0.5"/>        
    <param name="ObstacleShape/z_l" value="0.7"/>        
    <param name="ObstacleShape/z_h" value="0.8"/>        
    <param name="ObstacleShape/theta" value="0.5"/>        

    <param name="sensing/radius" value="5.0"/>        
    <param name="sensing/rate"   value="10.0"/>        
  </node>

</launch>